.nav
  %a{ href: "/video" }
    %span Video
    %img{ src: "/images/icons/icon_video.png" }
  %a{ href: "/audio" }
    %span Audio
    %img{ src: "/images/icons/icon_audio.png" }
  %a{ href: "/articoli" }
    %span Articoli
    %img{ src: "/images/icons/icon_articoli.png" }
    
    
%div articoli....