.page.full.chi_siamo

  .fiveapi_element{ 'data-type': 'collection', 'data-name': "chi_siamo" }

  %h2 Chi Siamo

  .chi_siamo_text.md
    RadioShout nasce dalle menti diaboliche e imprevedibili di un gruppo di ragazzi con tante cose da dire, da fare e da creare. Un laboratorio di espressività collettiva che vuole coinvolgere chiunque voglia dire qualcosa!

    Le trasmissioni sono condotte dal vivo. E’ una radio libera, che non subisce condizionamenti da parte di nessuno. I conduttori trasmettono come vogliono quello che vogliono e  trasmettono gratis perché si divertono a trasmettere.

    Radio Shout è un progetto culturale, che si propone di stimolare attraverso la musica,arte, attualità, letteratura e non solo, la creatività di questa tanto bistrattata nuova generazione.

    In anteprima l'articolo di Jack che dovrebbe uscire domani sul NUOVO CORRIERE DI FIRENZE:

    "Un microfono a condensatore, un vecchio tavolo in legno con qualche tarlo, due computer dell’era in cui tutto ancora era lento e pesante, un mini mixer a quattro canali e tanta voglia di far radio… Bè, signore e signori ecco a voi la web-radio RadioShout.

    Ma partiamo dall’inizio; è la primavera del duemiladieci quando Stefano, Cosimo e Tommaso, fiesolani docg, decidono di provare a fare una cosa mai pensata ne tantomeno messa in atto da quelle parti: creare una radio.

    Ma non una radio qualunque: una radio che possa esser alla portata e soprattutto accessibile a chiunque, libera.

    I due amici cominciano così a cercare un luogo che possa permettere di installare gli strumenti necessari alla trasmissione e questo viene individuato presso la struttura dell’Arci di Fiesole dove tutt’ora vengono registrati i programmi che puntualmente vanno in onda da Lunedì a Domenica.

    Dopo parecchi lavori di rinnovamento dei locali e l’apporto creativo di tutti i curiosi che piano piano iniziano ad interessarsi della faccenda, “la radio” inizia a prendere forma ed è pazzesca l’emozione che c’è nella facce di tutti quando il primo programma prova viene trasmesso via web. All’accensione dello stato “On Line” sul pc di regia c’è una stupefatta euforia nelle facce di tutti i presenti.

    Ma in pratica cos’è Radio Shout?

    Ci risponde direttamente Stefano Magherini presidente e creatore di questa nuova realtà: “Radio Shout è un’idea nata da pochi. All’inizio eravamo davvero pochi a dirla tutta ma avevamo le idee abbastanza chiare ed una grande voglia di costruire qualcosa di stimolante per più persone possibile…. E per adesso possiamo dire che ci stiamo riuscendo! Adesso siamo quasi in cinquanta a collaborare più o meno direttamente a questo progetto ovviamente tutti volontari! 
    In un periodo come questo di totale aridità riuscire a creare una realtà come questa penso sia una soddisfazione incredibile per tutti coloro che ne fanno parte”.

    Musica, tutto ciò che si definisca arte ma anche attualità e politica sono solo alcuni esempi di ciò che si interessa questa bellissima ed innovativa realtà fiesolana.

    Presente sul territorio, nelle piazze, ai concerti alle manifestazioni e in ogni luogo dove ci sia da ascoltare per poi riproporre ed attenta a tutto ciò che è in movimento; promotrice di feste ed eventi musicali ai quali hanno anche partecipato musicisti del calibro di Massimiliano La Rocca, Marta sui tubi, Matteo Toni, piuttosto che la “Big Black Mama Blues Band” o il cantante soul statunitense McKinley Moore.

    L’impegno di questi ragazzi è da ammirare anche solo per il fatto che essendo tutti volontari si spendono per offrire un servizio e soprattutto un’opportunità a tutti coloro abbiano la voglia di dire la propria opinione davanti ad un microfono che ha le potenzialità di essere ascoltato in tutto il mondo! Sì perché la si può ascoltare ovunque ci sia una connessione internet disponibile semplicemente digitando www.radioshout.it .

    Dunque che questa bella realtà possa durare ancora tanto perché non è facile al giorno d’oggi aver la possibilità di avere uno spazio realmente pubblico dove potersi sentire liberi di agire e di “fare” nel senso più ampio del termine.

    Vi invito personalmente a dare una sbirciata al sito e perché no iniziare ad ascoltare o perché no a collaborare!

    Buona utenza."

    Giacomo Gandossi

  .clear