.page.full.chi_siamo
  
  .subnav
    %a.btn{ href: "/staff" } Staff
    %a.btn{ href: "/collabs" } Collaborazioni
  .clear
  
  .fiveapi_element{ 'data-type': 'collection', 'data-name': "chi_siamo" }

  .clear