.collabs

  .back
    %a.btn{ href: "/chi_siamo" } < chi siamo
  
  %h2 Collaborazioni

  %p GLUE, FLOG, NUOVO CAMARILLO, ARCI FIRENZE, http://eleonorabelpassi.wordpress.com/author/eleomora/ (BLOG), RIOTVAN 