- link = "/foto/"+id+"-"+name_url

.foto.article
  %h2
    %a{ href: link }
      %span.date
        = haml.format_date(published_at)
        = "-"
      = title
  .text
    != haml.article_preview(text)
