.home.previews

  #img_gal
  
  .fiveapi_element{ 'data-type' => 'collection', 'data-name' => "radio" }

  .clear
  
  .twitter
    %a.twitter-timeline{:"data-widget-id" =>  "323074676664434688", href: "https://twitter.com/search?q=radioshout"} 
  