-# contents in #head and #body will be appended to head and body tags in index.html, same thing for #title
%div
  #head

    %meta{ name: "viewport", content: "width=device-width initial-scale=1.0 maximum-scale=1.0 minimum-scale=1.0 user-scalable=0" }
    %link{ type: "text/sass", href: "/sass/reset.sass" }
    %link{ type: "text/sass", href: "/sass/app.sass" }
  #body
    #container
      #bg
       %img{ src: "/images/sfondo1.png"}
      #inner_container
        #inner_inner_container
          #header
            %header
              %nav
                %a{ href: "/" } 		        Home
                %a{ href: "/la_radio" } 		Radio
                %a{ href: "/eventi" } 		  Eventi
                %a{ href: "/shout_world" } 	Mondo Shout
                %a{ href: "/chi_siamo" } 	  Chi Siamo
                %a{ href: "/arci" } 	      Arci
              .clear
              #fiveapi_message
              #fiveapi
          #content_outer
            #content_head
              #stream
                %img.status{ src: "http://shoutcast.mixstream.net/status/usa7-vn:8012.gif" }

                .swf
                  ! <object type="application/x-shockwave-flash" data="http://shoutcast.mixstream.net/flash/MixStreamPlayer.swf" width="335" height="50" id="mixStreamPlayer" style="visibility: visible; "><param name="wmode" value="transparent"><param name="flashvars" value="serverHost=usa7-vn.mixstream.net&amp;serverPort=8012&amp;getStats=0&amp;autoStart=0&amp;textColour=000000&amp;buttonColour=FFFFFF&amp;backgroundURL=none"></object>
                  
              %h1
                %a{ href: "/" }
                  / RadioShout
                  %img.logo{ src: "/images/logo_radioshout.png"}
              .clear
            #content
              != yield
            .clear
            %footer


