.nav
  %a{ href: "/programmi" }
    %span Programmi
    %img{ src: "/images/icons/icon_programmi.png" }
  %a{ href: "/foto" }
    %span Foto
    %img{ src: "/images/icons/icon_foto.png" }
  %a{ href: "/palinsesto" }
    %span Palinsesto
    %img{ src: "/images/icons/icon_palinsesto.png" }
  %a{ href: "/podcasts" }
    %span Podcast
    %img{ src: "/images/icons/icon_audio.png" }

  %a.right{ href: "https://www.facebook.com/pages/RadioShout/137967656273296?sk=photos_stream" }
    %span Foto FB
    %img{ src: "/images/icons/icon_foto.png" }
%h2 Palinsesto


%table.palinsesto{ cellspacing: 0 }
  %thead
    %tr
      %td
      %td Lunedì
      %td Martedì
      %td Mercoledì
      %td Giovedì
      %td Venerdì
      %td Sabato
      %td Domenica

  %tr
    %td 16:00-17:00
    %td Musica
    %td Musica
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } Radio Noise
    %td Musica
    %td Musica
    %td Musica
  %tr
    %td 18:00-19:00
    %td Musica
    %td Musica
    %td Musica
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } I Soliti Sospetti
    %td Musica
    %td Musica
  %tr
    %td 19:00-20:00
    %td
      %a{ href: "javascript:void(0)" } FEBBRE A 90°
    %td
      %a{ href: "javascript:void(0)" } Amiche Chips
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } DEBUGGING ART
    %td
      %a{ href: "javascript:void(0)" } IT'ONLY ROCK
    %td Musica
    %td Musica
  %tr
    %td 20:00-21:00
    %td Musica
    %td Musica
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } Il Garage Ermetico
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } Il Confine
    %td Musica
  %tr
    %td 21:00-21:30
    %td Musica
    %td
      %a{ href: "/programmi/124" } Blister
    %td Musica
    %td Musica
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } Il Confine
    %td Musica
  %tr
    %td 21:30-22:30
    %td
      %a{ href: "javascript:void(0)" } Rollover DJ 2.0
    %td
      %a{ href: "javascript:void(0)" } BLUESNITE  SHOUT (dalle ore 22:00)
    %td
      %a{ href: "javascript:void(0)" } ANDY'S TEAM
    %td
      %a{ href: "javascript:void(0)" } iBenCHeD
    %td
      %a{ href: "javascript:void(0)" } RADIOLIVE
    %td
      %a{ href: "javascript:void(0)" } Il Confine
    %td Musica
  %tr
    %td 22:30-23:30
    %td
      %a{ href: "javascript:void(0)" } BassisLand
    %td Musica
    %td
      %a{ href: "javascript:void(0)" } Blues Nite Shout
    %td Musica
    %td Musica
    %td Musica
    %td Musica





