.nav
  %a{ href: "/programmi" }
    %span Programmi
    %img{ src: "/images/icons/icon_programmi.png" }
  %a{ href: "/foto" }
    %span Foto
    %img{ src: "/images/icons/icon_foto.png" }
  %a{ href: "/palinsesto" }
    %span Palinsesto
    %img{ src: "/images/icons/icon_palinsesto.png" }
  %a{ href: "/podcasts" }
    %span Podcast
    %img{ src: "/images/icons/icon_audio.png" }
  %a{ href: "http://s3play.makevoid.com/?bucket=radioshout" }
    %span Archive
    %img{ src: "/images/icons/icon_audio.png" }

  %a.right{ href: "https://www.facebook.com/pages/RadioShout/137967656273296?sk=photos_stream" }
    %span Foto FB
    %img{ src: "/images/icons/icon_foto.png" }
%h2 Palinsesto


.palinsesto
  -# { cellspacing: 0 }
  :textile
    #{File.open("views/palinsesto.textile", "r:UTF-8").read}

.right
  ♪ = musica


